*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
}


#question{
    text-align: center;
}

h4{
    display: flex;
    flex-wrap: wrap;
}

#yourName{
    text-align: center;
}

.interactive {
    cursor: pointer;
}

ol li{
    margin: 5px;
    background-color: aquamarine;
    padding: 5px;
}

ol{
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul li{
    padding: 5px;
}